**/bin
**/obj
**/.vs
**/.vscode
**/node_modules
**/coverage
**/TestResults
**/.git
**/.github
**/docs
**/scripts
**/ECommerce.Tests
**/ECommerce.IntegrationTests
*.md
LICENSE.txt
.gitignore
.gitattributes
.env
.env.example
coverlet.runsettings
ECommerce.slnx
